body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  section{
  	background: #eee;
  	height: 100%;
  }    
  footer.page-footer{
  	margin-top: 0;
  }
