#top{width: 100%;height: 30px;background: #ddd;min-width: 1100px;}
#top #top1{width: 1100px;margin: 0 auto;}
#qiehuan{background: #0059a9;color: white; border: none;border-radius: 3px;width: 50px;}
#top #top1 ul li{float: left;margin-left: 25px;line-height: 30px;font-size: 12px;}
#top #top1 ul li a{color: black;text-decoration: none;}
#top #top1 ul li a:hover{color: blue;}
#denglu1{background: #33beff;color: white;border: none;border-radius: 3px;}
#weixin{position: absolute;z-index: 99;display: none;top: 22px;}
#app{position: absolute;z-index: 99;display: none;top: 22px;}
/*top完*/
#logo{width: 100%;height: 100px;min-width: 1100px;}
#logo #logo1{width: 1100px;margin: 0 auto;}
#logo #logo1 ul{margin-top: 20px;}
#logo #logo1 ul li{float: left;margin-left: 32px;}
#logo #logo1 ul li a{text-decoration: none;color: #999999;font-size: 12px;}
.img1{width: 150px;height: auto;margin-top: 6px;}
.img2{margin-top: 6px;}
#te1{width: 300px;height: 20px;margin-left: 20px;}
#bu1{width: 50px; height: 26px;background: lightblue;border: none;}
.xiao{font-size: 13px;color: #666;}
/*logo完*/
#daohang{width: 100%;height: 40px;background: #666;min-width: 1100px;position: relative;}
#daohang #tiao{width: 1100px;margin: 0 auto;}
#daohang #tiao ul li{float: left;line-height: 40px;margin-left: 45px;}
#daohang #tiao ul li a{text-decoration: none;font-size: 20px;color: white;}
#daohang #tiao ul li:hover{background: lightseagreen;}
/*分类开始*/
 #fenlei{width: 1100px;height: 500px; background: #DDDDDD;margin: 0 auto; clear: both; display: none;position: absolute;z-index: 99;}
#yi{width: 220px;height: 400px;float: left;border: 1px solid white;display: block;}
#yi .a ul li{float: left;margin:0 20px ;}
#yi .a p{color: blue;}
#di{width: 1100px;height: 100px;display: block;}
#di p{clear: both;text-align: center;font-size: 30px;line-height: 100px;}
#di p a{text-decoration: none;color: #666666;}
/*购物车下拉*/
#gouxia{width: 200px;height: 50px; background: #DDDDDD;display: none;position: absolute;z-index: 100;}
/*导航结束*/
#lan{width: 100%;height: 600px; background:#0059a9;clear: both;}
#lan #tu{position: relative; margin: 0 auto; width: 1100px;height:600px; background: url(../img/xianxiatiyan/OTOblue_03.jpg);z-index: 36;}
#lan #tu p b{color: white;font-family: "微软雅黑";font-size: 50px;}
#lan #tu p{color: white;position: absolute;top: 200px;left: 550px;}
#lan #tu select{width: 300px;height: 35px;cursor:pointer;color: #AAAAAA;}
#lan #tu button{width: 100px;height: 36px;background:lightseagreen ;border: none;}
#lan #tu .city{position: absolute;top: 50%;left: 50%;margin: -15px 0 0 -150px;}


/*中间结束*/
#foot{width: 100%;height: 220px;min-width: 1100px;background:#E6E6FA; clear: both;}
#foot #qian{width: 1100px;height: 200px;margin: 0 auto;}
#foot #qian .shang{width: 1100px;height: 100px;}
#foot #qian .shang .le{width: 600px;height: 100px;float: left;margin: 0 10px;}
#foot #qian .shang .zh{width: 250px;height: 100px;float: left;margin: 0 10px;}
#foot #qian .shang .ri{width: 150px;height: 100px;float: left;margin: 0 10px;}
#foot #qian .shang .le p{margin: 25px 10px;}
#foot #qian .shang .le ul li{float: left;margin: 0px 10px;font-size: 12px;color: #666666;}
#foot #qian .shang .le ul li:hover{color: lightseagreen;cursor:pointer;}
#foot #qian .shang .zh a{display: inline-block; margin: 65px 100px;text-decoration: none;color: #666666;font-size: 12px;}
#foot #qian .shang .ri a{display: inline-block; margin: 65px 50px;text-decoration: none;color: #666666;font-size: 12px;}

#foot #qian .xia{width: 1100px;height: 100px;}
#foot #qian .xia .first{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .second{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .third{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .fouth{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .fivth{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia p{margin-top: 5px;}
#foot #qian .xia ul li{color: #666666;font-size: 12px;margin-top: 2px;}
#foot #qian .xia ul li:hover{color:lightseagreen;cursor:pointer;}
/*qian完*/
#hou{width: 100%;height: 150px;min-width: 1100px;background:#999999; clear: both;}
#hou #wan {width: 1100px;height: 150px;margin: 0 auto;}
#hou #wan ul{margin-top:  30px;margin-left: 230px; display: inline-block;}
#hou #wan ul li{float: left;font-size: 12px;color: #666666;margin-left: 20px;}
#hou #wan ul li:hover{color:lightseagreen;cursor:pointer;}
#hou #wan p{text-align: center;margin: 10px;font-size: 12px;color: #666666;}

