* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
.left {
    float: left;
}
.right {
    float: right;
}
.relative {
    position: relative;
}
li {
    list-style: none;
}
$color: white black #999 #434343 #333 #476fe1;
$fontsize: 14px 16px 30px;
.banner {
    height: 434px;
    position: relative;
    background: url("../img/bg_cdf101d8.jpg");
    background-position: -300px;
    z-index: -1;
    h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -138px;
        margin-top: -56.5px;
        em {
            display: block;
            font-size: 69px;
            font-style: normal;
            font-weight: normal;
            color: nth($color,1);
        }
        span {
            font-size: 30px;
            color: nth($color,1);
        }
    }
}
.title {
    display: block;
    height: 118px;
    background: #453e5c;
    line-height: 30px;
    padding: 0 90px;
    margin: auto 0;
    color: nth($color,1);
    font-size: nth($fontsize,2);
    padding-top: 30px;
}
em {
    font-size: nth($fontsize,3);
    color: nth($color,1);
}
//构架图
.architecture1 {
    width: 100%;
    padding-top: 50px;
    div {
        width: 90px;
        margin: 0 auto;
        span {
            display: inline-block;
            font-size: nth($fontsize,3);
            line-height: 60px;
            color: #333;
        }
        e {
            width: 80%;
            content: "";
            display: block;
            border-bottom: 2px solid nth($color,6);
            margin: 0 auto;
        }
    }
}
.structure {
    padding-bottom: 50px;
    img {
        display: block;
        margin: 0 auto;
    }
}
//使用场景
.architecture2 {
    @extend .architecture1;
    background: #f7f6f7;
    div {
        width: 120px;
        padding-bottom: 30px;
    }
}
.scene {
    width: 20%;
    margin: 55px 60px 0 0;
    li {
        width: 198px;
        height: 50px;
        line-height: 50px;
        background: #d0d0d0;
        color: #fff;
        text-align: center;
        margin-bottom: 18px;
        position: relative;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 5px;
        &.active {
            background: #476fe1;
            &:after {
                border-left: 20px solid nth($color,6);
            }
        }
    }
    li:hover {
        background: nth($color,6);
        &:after {
            border-left: 20px solid nth($color,6);
        }
    }
    li:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 15px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid #d0d0d0;
        border-bottom: 10px solid transparent;
    }
}
.box {
    background: #f7f6f7;
    .box-center {
        width: 1180px;
        margin: 0 auto;
    }
}
.content {
    width: 876px;
    height: 460px;
    overflow: hidden;
    li {
    height: 460px;
}
}
 
//产品服务
.architecture3 {
    @extend .architecture1;
    div {
        width: 120px;
        padding-bottom: 30px;
    }
}
.products {
    width: 1180px;
    margin: auto;
    a {
        float: left;
        width: 33.33%;
        height: 142px;
        cursor: pointer;
        text-decoration: none;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #fff;
        .icon {
            float: left;
            width: 100px;
            height: 100px;
            margin-right: 25px;
            border-radius: 50%;
            background-image: url("../img/pic7.png");
            
            position:relative; 
            z-index:999; 
            -webkit-border-radius:50%; 
            -moz-border-radius: 50%; 
            behavior: url("PIE.htc"); 
            
        }
        .icon-voice {
            background-color: #3b60ca;
            background-position: 0 0;
        }
        .p1 {
            font-size: 16px;
            color: #434343;
            margin: 4px 0 0 125px;
        }
        .p2 {
            margin-top: 12px;
            font-size: 14px;
            color: #999;
            margin-left: 125px;
        }
    }
    a:hover {
        border: 1px solid #476FE1;
        box-shadow: 2px 2px 3px #335FE0;
        -moz-box-shadow: 2px 2px 3px #335FE0;
        -ms-box-shadow:2px 2px 3px #335FE0;
        -webkit-box-shadow: 2px 2px 3px #335FE0;
       
    }
}
.icon-ocr {
    background-color: #8d5ce7;
    background-position: -85px 0;
}
.icon-bfr {
    background-color: #804ae4;
    background-position: -175px 0;
}
.icon.icon-paddle {
    background-color: #5f2dbc;
    background-position: 0 -90px;
}
.icon.icon-bml {
    background-color: #295ffa;
    background-position: -180px -90px;
}
.icon.icon-nlp {
    background-color: #335fe0;
    background-position: -85px -90px;
}
////客户案例
.architecture4 {
    @extend .architecture1;
    background: #f7f6f7;
    div {
        width: 120px;
        padding-bottom: 30px;
    }
}
.block {
    display: block;
    width: 1180px;
    margin: auto;
    overflow: hidden;
}
.cases-item {
    float: left;
    height: 120px;
    width: 23%;
    border: 1px solid #d2d2d2;
    margin-right: 20px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
}
.cases-kuaishou {
    background-image: url("../img/pic8.jpg");
}
.cases-ctrip {
    background-image: url("../img/pic9.jpg");
}
.cases-tesla {
    background-image: url("../img/pic10.jpg");
}
.cases-lenovo {
    background-image: url("../img/pic11.jpg");
}
.boss {
    width: 100%;
    background: #f7f6f7;
    padding-bottom: 50px;
}