$navBgColor: #ffffff;
$activeTextColor: rgba(255,255,255,.5);
$normalTextColor: #333333;

$h80:80px;
$h40:40px;
$s12:13px;
$navFontSize: 17px;
$navfontfamily:微软雅黑;
$logowidth:87px;
$logoheight:37px;
$normalwidth:1200px;
$minwidth:1000px;
$w1000:100%;
$blue:blue;
$classifybgone:#f0f0f0;
$classifybgtwo:#ffffff;
$color666:#666666;
$classifyFontcolor:#666666;
$w500:500px;
$h350:350px;
$w150:164px;
$w350:333px;
$w195:185px;
$w600:600px;




$footerbgcolor:#444855;
$footerfontcolor:#d6d6d6;
$footerH:450px;
$footH:280px;
$w300:350px;
$w200:200px;
$w100:110px;
$footerfs:12px;
$h60:60px;
$end:10px;
$w310:310px;
$big:35px;
$c00a8ff:#00a8ff;
$butw:90px;
$buth:30px;
$w640:650px;
$w160:160px;
$h90:90px;
$w450:450px;
$font20:20px;
$black:black;
$colorf9:#f9f9f9;
$h700:700px;