*{
	margin:0;
	padding:0;
	list-style:none;
}
html{
	font-size:62.5%; 
}
body{
	font-size:12px;
	font-size:1.2rem ;
}
p{
	font-size:14px;
	font-size:1.4rem;
}
.bj{
 	position:relative;
 }
 .bj img{
 	width:100%;
 	position:absolute;
 }
.huawen{
	position:relative;
}
.huawen img{
	width:100%;
	height:12.375rem;
}
.juzuMesg p{
	font-size:2.5rem;
	color:#fff;
	position:relative;
	text-align:center;
	top:-6rem;
}
.juzuTitle{
	width:8rem;
	height:3.1rem;
	margin:0 auto;
	position:relative;
}
.juzuTitle img{
	width:8rem;
	height:3.1rem;
}
.juzuTitle span{
	font-size:1.6rem;
	color:#fff;
	position:absolute;
	top:0.5rem;
	left:1.4rem;
	font-weight:bold;
}
.juzuCon{
	width:100%;
	position:relative;
	padding-left:2rem;
	box-sizing:border-box;
	line-height:22px;
	margin-top:1rem;
}
.juzuCon .messLeft{
	margin-right:1rem;
}
.juzuCon .messLeft,
.juzuCon .messRight{
	float:left;
	min-width:48%;
}
.juzuCon .messLeft ul li,
.juzuCon .messRight ul li{
	font-size:1.4rem;
	color:#fff;
}
.juzuMesg{
	margin-top:-2rem;
}
.xiaozhuan{
	width:92%;
	min-height:3rem;
	text-indent:2em;
	border:1px solid #fff;
	border-radius:3px;
	margin:1rem 0;
}
.roleMesg{
	position:relative;
	margin-top:2rem;
}
.roleMesg span{
	position:absolute;
	font-weight:bold;
}
 .bottomBj{
	width:100%;
	height:13.2rem;
	position:relative;
} 
.bottomBj img{
	width:100%;
	height:13.2rem;
	position:absolute; 
}
.erjiTitle{
	width:21.625rem;
	height:0.6rem;
	margin:1.5rem auto;
}
.erjiTitle img{
	width:21.625rem;
	height:0.6rem;
}
.erjiTitle p{
	font-size:1.6rem;
	color:#fff;
	text-align:center;
	margin-top:-1.5rem;
}
.feelCon{
	width:100%;
	background:#19202c;
}
.peoZhuan{
	width:100%;
	color:#fff;
	text-align:left;
	margin-bottom:1rem;
}
.peoZhuan p{
	text-align:left;
	font-size:1.4rem;
}
.heart{
	position:fixed;
	right:0;
	top:8.5rem;
}
.heart img{
	width:6.1rem;
	height:3rem;
}