/*联系演员*/
#contact{
	width:2.4rem;
	height:0.8rem;
	background:#000;
	opacity:.5;
	position:absolute;
	right:0;
	top:2rem;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
}
#contact .phone{
	width:0.7rem;
	height:0.7rem;
	border:1px solid #fff;
	border-radius:50%;
	line-height:1rem;
	text-align:center;
	margin-left:0.1rem;
}
#contact .phone img{
	width:0.6rem;
	height:0.6rem;
	text-align:center;
}
#contact a{
	font-size:0.32rem;
	color:#fff;
	margin-left:1rem;
	line-height:0.8rem;
}
.newactor_banner .contactalert2{
	height:4rem;
	display:none;
	width:70%;
	background:#fff;
	position:fixed;
	top:4.5rem;
	z-index:10000;
	left:1.1rem;
	margin:0 auto;
	border:1px solid #ddd;
	border-radius:4px;
	box-shadow:0 0 4px #ddd;
}
.newactor_banner .contactalert2 p{
	font-size:0.32rem;
	text-align:center;
	margin:1rem 0;
}
a{
	color:#000;
}
.newactor_banner .contactalert2 a{

	display:block;
	width:1.5rem;
	height:0.5rem;
	border:1px solid #ddd;
	float:left;
	text-align:center;
	line-height:0.5rem;
	margin-left:0.7rem;
	border-radius:2px;
}
.myfeather{
	margin-bottom:1rem;
}