doctype html
html(lang='zh-cmn-Hans')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title 提示
    link(rel='stylesheet', href='../css/college.css')
    link(rel='stylesheet', href='../css/weui.css')
    link(rel='stylesheet', href='../css/serume-experience.css')
    link(rel='stylesheet', href='../css/common.css')
  body
    header#header
    section(style='height: 100%;width: 100%')
      div(style='width: 70%;margin: 0 auto;font-size:20px;margin-top: 20%;text-align: left')
       p 您还没有获得该平台管理者授权，如需发布，请联系该平台管理者。如果您想拥有自己的副导演公众平台，请您关注“副导演助手”微信公众号或致电： 
        p 010-53398622了解办理流程。
    script(src='../js/zepto.min.js')
    script(type='text/javascript', src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    script(src='https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js')

