body{
	background: #eee;
}
.log{
	width: auto;
	padding: 1em;
}
.log input{
	display: block;
	margin-top: 1em;
	border-radius: 0.2em;
	width: 100%;
	height: 2em;
	border: none;
	
}
.log button{
	margin-top: 1em;
	color: white;
	background:#00BCD4 ;
	width: 100%;
	height: 3em;
	border-radius: 0.2em;
	border: none;
	font-family: "微软雅黑";
}
p{
	color: #1E90FF;
	text-align: center;
	font-family: "微软雅黑";
}

