html,body{
	height: 100%;
}
body{
	background: #fafafa;
}
section{
	padding: 1em;
}
.list{
	margin-bottom: 1.5em;
	border: 1px solid #eee;
	padding: 1em;
	border-radius: 2px;
	background:#fff ;
	transition: box-shadow 300ms ease-in;
}
.list:active{
	box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.list h3{
	line-height: 1.4;
	color: #323232;
}
.list img{
	display: block;
	width: 100%;
	height: auto;
}
small{
	margin: 0.8em 0;
	color: #888;
}
small span{
	margin-right: 1em;
}
.digest{
	margin-top: 0.8em;
	line-height: 1.5em;
	color: #666;
}
