#top{width: 100%;height: 30px;background: #ddd;min-width: 1100px;}
#top #top1{width: 1100px;margin: 0 auto;}
#qiehuan{background: #0059a9;color: white; border: none;border-radius: 3px;width: 50px;}
#top #top1 ul li{float: left;margin-left: 25px;line-height: 30px;font-size: 12px;}
#top #top1 ul li a{color: black;text-decoration: none;}
#top #top1 ul li a:hover{color: blue;}
#denglu1{background: #33beff;color: white;border: none;border-radius: 3px;}
#weixin{position: absolute;z-index: 99;display: none;top: 22px;}
#app{position: absolute;z-index: 99;display: none;top: 22px;}
/*top完*/
#logo{width: 100%;height: 100px;min-width: 1100px;}
#logo #logo1{width: 1100px;margin: 0 auto;}
#logo #logo1 ul{margin-top: 20px;}
#logo #logo1 ul li{float: left;margin-left: 32px;}
#logo #logo1 ul li a{text-decoration: none;color: #999999;font-size: 12px;}
.img1{width: 150px;height: auto;margin-top: 6px;}
.img2{margin-top: 6px;}
#te1{width: 300px;height: 20px;margin-left: 20px;}
#bu1{width: 50px; color: white; height: 26px;background:#005AAA;border-radius: 3px; border: none;}
.xiao{font-size: 13px;color: #666;}
/*logo完*/
#daohang{width: 100%;height: 40px;background: #666;min-width: 1100px;position: relative;}
#daohang #tiao{width: 1100px;margin: 0 auto;}
#daohang #tiao ul li{float: left;line-height: 40px;width: 120px;text-align: center;}
#daohang #tiao ul li a{text-decoration: none;font-size: 20px;color: white;}
#daohang #tiao ul li:hover{background: #005AAA;}
/*分类开始*/
 #fenlei{z-index: 999; width: 1100px;height: 500px; background: #DDDDDD;margin: 0 auto; clear: both; display: none;position: absolute;}
#yi{width: 218px;height: 400px;float: left;border: 1px solid white;display: block;}
#yi .a ul li{float: left;margin:0 20px ;}
#yi .a p{color: blue;}
#di{width: 1100px;height: 100px;display: block;}
#di p{clear: both;text-align: center;font-size: 30px;line-height: 100px;}
#di p a{text-decoration: none;color: #666666;}

#gouxia{width: 200px;height: 50px; background: #DDDDDD;display: none;position: absolute;z-index: 100;}

/*中间部分*/
#zj{width: 100%;height: 800px;min-width: 1100px;clear: both;background: #f6f6f6;}
#zj #xiaozj{width: 1100px;margin: 0 auto;height: 500px;}
#zj #xiaozj p{font-size: 12px;color: #606060;line-height: 20px;}
#zj #xiaozj p a{text-decoration: none;color: #606060;}
#zj #xiaozj .left{width: 180px;height: 780px;float: left;margin-left: 10px;}
#zj #xiaozj .left button{text-align: center;background: #00BFFF;font-size: 20px; color: white;border: none;border-radius: 3px;height: 30px;width: 120px;margin: 10px 30px;}
#zj #xiaozj .left ul{margin: 10px 30px;}
#zj #xiaozj .left ul li{margin-top: 10px;font-family: "微软雅黑";font-size: 13px;cursor: pointer;}
#zj #xiaozj .left ul li:hover{color: red;}
#zj #xiaozj .left .da{font-size: 17px;}
#zj #xiaozj .right{width: 860px;height: 780px;float: left;margin-left: 10px;}
#zj #xiaozj .right .eb{width: 860px;height: 180px;background: white;}
#zj #xiaozj .right .eb .zuo{ position: relative; margin-top: 10px; margin-left: 5px;border-right: 1px solid #666666; width: 380px;height: 150px;float: left;}
#zj #xiaozj .right .eb .zuo img{margin: 20px 10px;}
#zj #xiaozj .right .eb .zuo ul{position: absolute;top: 15px;left: 120px;}
#zj #xiaozj .right .eb .zuo ul li{margin-top: 15px;color: #666666;font-family: "微软雅黑";}


#zj #xiaozj .right .eb .jian{margin-top: 10px;width: 250px;height: 150px;float: left;margin-left: 5px;border-right: 1px solid #666666;}
#zj #xiaozj .right .eb .jian .t .t1{width: 50px;height: 50px;text-align: center;border: 2px solid #00BFFF;border-radius: 50%;float: left;margin: 50px 30px;}
#zj #xiaozj .right .eb .jian .t .t1 span{cursor: pointer; color: #20B2AA;font-size: 30px;text-align: center;line-height: 50px;}
#zj #xiaozj .right .eb .jian .t .t1 span:hover{font-size: 35px;}


#zj #xiaozj .right .eb .you{margin-top: 10px;width: 190px;height: 150px;float: left;}
#zj #xiaozj .right .eb .you ul{margin: 40px 30px;}
#zj #xiaozj .right .eb .you ul li{font-family: "微软雅黑";font-size: 15px;margin-top: 15px;color: #666666;}

#zj #xiaozj .right .eb .you ul li span{color: red;}


#zj #xiaozj .right .ddd{width: 860px;height: 30px;background: #D9D9D9;margin-top: 10px;}
#zj #xiaozj .right .ddd .wddd {float: left; width: 200px;height: 30px;margin-left: 20px;}
#zj #xiaozj .right .ddd .wddd p{line-height: 30px;}
#zj #xiaozj .right .ddd .cks p{line-height: 30px;cursor: pointer;}
#zj #xiaozj .right .ddd .cks p:hover{color: red;}

#zj #xiaozj .right .ddd .cks{width: 100px;height: 30px;float: right;}

#zj #xiaozj .right .baibai{position: relative; width: 860px;height: 150px;background: white;}
#zj #xiaozj .right .baibai img{width: 80px;height: 80px;margin-left: 280px;margin-top: 40px;}
#zj #xiaozj .right .baibai ul{position: absolute;top: 65px;right: 230px;}
#zj #xiaozj .right .baibai ul li{font-family: "微软雅黑";font-size: 13px;color: #666666;}
#zj #xiaozj .right .baibai ul .aiyo{color: red;cursor: pointer;}
#zj #xiaozj .right .baibai .jay{width: 110px;height: 150px;float: left;}
#zj #xiaozj .right .baibai .jay img{width: 100px;height: 100px;}

#zj #xiaozj .right .tutu{ width: 860px;height: 380px;background: white;}
#zj #xiaozj .right .tutu .jay{float: left;margin: 33px;cursor: pointer;}
#zj #xiaozj .right .tutu .jay:hover{border: 1px solid #666666;}

#zj #xiaozj #danzi{width: 860px;height: 780px;display: none;}
#zj #xiaozj #sc{width: 860px;height: 780px;display: none;}



#foot{width: 100%;height:320px;min-width: 1100px;background:#DDDDDD; clear: both;}
#foot #qian{width: 1100px;height: 200px;margin: 0 auto;}
#foot #qian .shang{width: 1100px;height: 100px;}
#foot #qian .shang .le{width: 600px;height: 100px;float: left;margin: 0 10px;}
#foot #qian .shang .zh{width: 250px;height: 100px;float: left;margin: 0 10px;}
#foot #qian .shang .ri{width: 150px;height: 100px;float: left;margin: 0 10px;}
#foot #qian .shang .le p{margin: 25px 10px;}
#foot #qian .shang .le ul li{float: left;margin: 0px 10px;font-size: 12px;color: #666666;}
#foot #qian .shang .le ul li:hover{color: lightseagreen;cursor:pointer;}
#foot #qian .shang .zh a{display: inline-block; margin: 65px 100px;text-decoration: none;color: #666666;font-size: 12px;}
#foot #qian .shang .ri a{display: inline-block; margin: 65px 50px;text-decoration: none;color: #666666;font-size: 12px;}

#foot #qian .xia{width: 1100px;height: 100px;}
#foot #qian .xia .first{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .second{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .third{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .fouth{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia .fivth{width: 200px;height: 100px;float: left;border-right: 1px solid #666666;margin-left: 10px;}
#foot #qian .xia p{margin-top: 5px;}
#foot #qian .xia ul li{color: #666666;font-size: 12px;margin-top: 2px;}
#foot #qian .xia ul li:hover{color:lightseagreen;cursor:pointer;}
#foot #qian .xs{cursor:pointer;width: 270px;height: 90px ;background: white;float: left;margin-left: 5px;margin-top: 20px;position: relative;}
#foot #qian .xs img{margin: 10px 3px;}
#foot #qian .xs .ds{position: absolute;top: 25px;left: 85px;}
#foot #qian .xs .ds p{font-family: "微软雅黑";color:#666666;}
#foot #qian .xs .ds span{font-family: "微软雅黑";font-size: 11px;color:#666666;}



/*qian完*/
#hou{width: 100%;height: 200px;min-width: 1100px;background:#CCCCCC; clear: both;}
#hou #wan {width: 1100px;height: 150px;margin: 0 auto;}
#hou #wan ul{margin-top:  30px;margin-left: 230px; display: inline-block;}
#hou #wan ul li{float: left;font-size: 12px;color: #666666;margin-left: 20px;}
#hou #wan ul li:hover{color:lightseagreen;cursor:pointer;}
#hou #wan p{text-align: center;margin: 10px;font-size: 12px;color: #666666;}
#lianjie{margin-left: -59px;}
/*侧边栏开始*/
#cebian{position: fixed;right: 5px;bottom: 3px; z-index: 7; width: 60px; height: 330px;}
#cebian #yi{display: block;width: 60px;height: 140px;overflow: hidden; margin-bottom: 2px;  cursor: pointer;  no-repeat -4px 18px;}
#cebian #tu2{position: fixed;right: 65px;bottom: 250px;display: none;}
#cebian #tu3{display: block;width: 60px;height: 70px;overflow: hidden; margin-bottom: 2px;  cursor: pointer;  no-repeat -4px 18px;}
#cebian #tu4{display: block;width: 60px;height: 70px;overflow: hidden; margin-bottom: 2px;  cursor: pointer;  no-repeat -4px 18px;}
#cebian #tu5{display: block;width: 60px;height: 60px;overflow: hidden; margin-bottom: 2px;  cursor: pointer; no-repeat -4px 18px;border: none;}
