doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 通告列表
    link(rel='stylesheet', href='/css/jqueryWeui.css')
    link(rel='stylesheet', href='/css/weui.css')
    style.
      *{
      margin:0;
      padding:0;
      list-style:none;
      }
      html{
      font-size:62.5%;
      }
      body{
      font-size:12px;
      font-size:1.2rem ;
      }
      p{
      font-size:14px;
      font-size:1.4rem;
      }
      .listDiv .listUl li{
      width:100%;
      height:3.75rem;
      line-height:3.75rem;
      font-size:1.6rem;
      background:#f2f2f2;
      border-bottom:1px solid #fff;
      padding-left:2rem;
      box-sizing:border-box;
      }
      .listDiv .listUl li b{
      display:block;
      width:1.8rem;
      height:1.8rem;
      background:url(/img/go1.png) no-repeat;
      background-size:100%;
      float:right;
      margin:0.9rem 2rem 0 0;
      }
    script(type='text/javascript', src='/js/jquery-2.1.4.js')
    //script(src='js/echarts.min.js')
    script(type='text/javascript', src='/js/jquery-weui.js')
    script(type='text/javascript', src='/js/url.js')
  body
    .weui-pull-to-refresh__layer
      .weui-pull-to-refresh__arrow
      .weui-pull-to-refresh__preloader
      .down 下拉刷新
      .up 释放刷新
      .refresh 正在刷新
    .listDiv
      ul.listUl
    div(style='clear:right;')
    .weui-loadmore(style='clear: both')
      i.weui-loading
      span.weui-loadmore__tips 正在加载
  script.
    var director_id=!{JSON.stringify(director_id)};
    var appid=!{JSON.stringify(appid)};
               $(document.body).pullToRefresh().on("pull-to-refresh", function () {

              setTimeout(function () {
                $(document.body).pullToRefreshDone();
                list(1);
              }, 2000);
            });

            //------------------------------加载---------------------------------

            var j = 2;
            var loading = false; //状态标记

            $(document.body).infinite(1000).on("infinite", function (e) {

              if (loading) return;
              loading = true;

              setTimeout(function () {
                console.log(j);
                var totalPages = parseInt($(".listDiv").attr("id"));
                console.log(totalPages);
                if (j < totalPages + 1) {
                  list_jiazai(j);
                } else {
                  $(".weui-loadmore").css("display", "none");
                };
                if (totalPages === j) {
                  $(".weui-loadmore").css("display", "none");
                }
                loading = false;
              }, 1000);
            });
            function list(page) {
              var juzu_url = url + '/WX/wx_publishCrews/' + director_id + '/' + page;
              console.log(juzu_url);
              $.ajax({
                type: "get",
                url: juzu_url,
                dataType: "jsonp",
                async: false,
                // jsonp: "jsonpCallback",
                success: function success(data) {
                  console.log(data);
                  var totalPages = data.totalPages;
                  $(".listDiv").attr("id", totalPages);
                  var datas = data.results;
                  var str = '';
                  var _iteratorNormalCompletion = true;
                  var _didIteratorError = false;
                  var _iteratorError = undefined;

                  try {
                    for (var _iterator = datas[Symbol.iterator](), _step; !(_iteratorNormalCompletion = (_step = _iterator.next()).done); _iteratorNormalCompletion = true) {
                      data = _step.value;

                      str += "<li id=\"" + data.id + "\">\u5267\u540D\uFF1A" + data.production_crews[0].name + "<b></b></li>";
                    }
                  } catch (err) {
                    _didIteratorError = true;
                    _iteratorError = err;
                  } finally {
                    try {
                      if (!_iteratorNormalCompletion && _iterator.return) {
                        _iterator.return();
                      }
                    } finally {
                      if (_didIteratorError) {
                        throw _iteratorError;
                      }
                    }
                  }

                  $(".listUl").html(str);
                },
                error: function error(err) {
                  console.log(err);
                }
              });
            };
            list(1);

            //加载----------------------------------
            function list_jiazai(page) {
              var juzu_url = url + '/WX/wx_publishCrews/' + director_id + '/' + page;
              console.log(juzu_url);
              $.ajax({
                type: "get",
                url: juzu_url,
                dataType: "jsonp",
                async: false,
                // jsonp: "jsonpCallback",
                success: function success(data) {
                  console.log(data);
                  var datas = data.results;;
                  var str = '';
                  var _iteratorNormalCompletion2 = true;
                  var _didIteratorError2 = false;
                  var _iteratorError2 = undefined;

                  try {
                    for (var _iterator2 = datas[Symbol.iterator](), _step2; !(_iteratorNormalCompletion2 = (_step2 = _iterator2.next()).done); _iteratorNormalCompletion2 = true) {
                      data = _step2.value;

                      str += "<li id=\"" + data.id + "\">\u5267\u540D\uFF1A" + data.production_crews[0].name + "<b></b></li>";
                    }
                  } catch (err) {
                    _didIteratorError2 = true;
                    _iteratorError2 = err;
                  } finally {
                    try {
                      if (!_iteratorNormalCompletion2 && _iterator2.return) {
                        _iterator2.return();
                      }
                    } finally {
                      if (_didIteratorError2) {
                        throw _iteratorError2;
                      }
                    }
                  }

                  $(".listUl").append(str);
                },
                error: function error(err) {
                  console.log(err);
                }
              });
              j++;
            };
            $(".listUl").on("click", "li", function () {
              var production_id = $(this).attr("id");
              location.href = url + '/WX/page_generationProgramme/' + director_id + '/' + appid + '/' + production_id;
            });


