#top{
	list-style-type: none;
	background-color: darkblue;
	width: 100px;
	height: 30px;
	color: #ffffff;
}

#top:hover #first{
	display: block;
}
#top #first{
	list-style-type:none;
	background-color: darkblue;
	position: relative;
	right: 40px;
	display: none;
	line-height: 30px;
	width: 100px;
}
#top #c:hover #second{
	display: block;
}
#top #first #second{
	list-style-type:none;
	background-color: darkblue;
	display: none;
	line-height: 30px;
	width: 50px;
	position: absolute;
	margin-left: 50px;
}
#top #a:hover #third{
	display: block;
}
#top #first #third{
	list-style-type:none;
	background-color: darkblue;
	display: none;
	line-height: 30px;
	width: 50px;
	position: absolute;
	margin-left: 50px;
}
#top #b:hover #four{
	display: block;
}
#top #first #four{
	list-style-type:none;
	background-color: darkblue;
	display: none;
	line-height: 30px;	
	width: 50px;
	position: absolute;
	margin-left: 50px;
}
